
<div class="container">
  <div class="row">
    <div class="col6-sm border langelis">
      1
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
  </div>
  <div class="row">
    <div class="col6-sm border langelis">
      <app-card [card] = "card1"></app-card>
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
  </div>
  <div class="row">
    <div>
      <p>Stats</p>
      <app-health></app-health>
    </div>
  </div>
  <div class="row">
    <div class="col6-sm border langelis">
      <app-card [card] = "card2"></app-card>
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
  </div>
  <div class="row">
    <div class="col6-sm border langelis">
      4
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
    <div class="col6-sm border langelis">
    </div>
  </div>
</div>


<button (click)='onClicked()'>Click</button>

<app-other></app-other>
