<div class="container">
  <div class="row">
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
  </div>
  <div class="row">
    <div class="col2-lg border langelis">
      <app-card [playerId] = "playerId" [card]="card1"></app-card>
    </div>
    <div class="col2-lg border langelis">
      <app-card [playerId] = "playerId" [card]="card3"></app-card>
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
  </div>
  <div class="row">
    <div class="col6-lg">
      <div>Player1 </div>
      <app-health [playerId]="card1.playerId"></app-health>
    </div>
    <div class="col6-lg left">
      <div>Player2 </div>
      <app-health [playerId]="card2.playerId"></app-health>
    </div>
  </div>
  <div class="row">
    <div class="col6-lg border langelis">
      <app-card [playerId] = "playerId" [card]="card2"></app-card>
    </div>
    <div class="col2-lg border langelis">
      <app-card [playerId] = "playerId" [card]="card4"></app-card>
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
  </div>
  <div class="row">
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
    <div class="col2-lg border langelis">
    </div>
  </div>
</div>
<div>
  <input (keyup)="OnPlayerIdChange($event)">
</div>