<div class="sidebar">
  <div>
    <div class="phaseButtonDiv">
      <button class="btn btn-primary phaseButton" [ngClass]="{'btn-success': turn === 1 }" (click)='mainPhaseClick()' [disabled]="toggleMainPhaseButton">Main phase</button>
    </div>
    <div class="phaseButtonDiv">
      <button class="btn btn-primary phaseButton" [ngClass]="{'btn-success': turn === 2 }" (click)='attackPhaseClick()' [disabled]="toggleAttackPhaseButton">Attack phase</button>
    </div>
    <div class="phaseButtonDiv">
      <button class="btn btn-primary phaseButton" [ngClass]="{'btn-success': turn === 3 }" (click)='secondPhaseClick()' [disabled]="toggleSecondPhaseButton">Second phase</button>
    </div>
    <div class="phaseButtonDiv">
      <button class="btn btn-primary phaseButton" [ngClass]="{'btn-success': turn === 4 }" (click)='endTurnClick()' [disabled]="toggleEndTurnButton">End turn</button>
    </div>
    <div>
      <button class="btn btn-primary navigationButton" (click)='back()'>Back</button>
      <button class="btn btn-primary navigationButton"(click)='forward()'>Forward</button>      
    </div>
  </div>
  <div>
    <div class="player1Border" *ngIf="game && game.player1">
      <div>
        <div> {{ game.player1.playerName }} </div>
        <app-health [health]="game.player1.playerHealth"></app-health>
      </div>
    </div>
    <div class="player2Border" *ngIf="game && game.player2">
      <div>
        <div>{{ game.player2.playerName }} </div>
        <app-health [health]="game.player2.playerHealth"></app-health>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="player1Border">
      <div class="row">

        <div *ngFor="let i of numinrow; let index=index;">
          <div *ngIf="game.field1.handfield[index]; then thenBlock else elseBlock;"></div>
          <ng-template #thenBlock>
            <div class="col2-lg border langelis">
              
              <app-card  [player] ='game.player1.id' [i] = "index" [playerId] = 'playerId' [card]="game.field1.handfield[index]"></app-card>

            </div>
            </ng-template>
          <ng-template #elseBlock> <div class="col2-lg border langelis"></div> </ng-template>
        </div>



        <!--<div *ngFor="let i of game.field1.handfield">
          <div class="col2-lg border langelis"></div>
        </div>!-->

        <!--<div *ngIf="numinrow">
          <div class="col2-lg border langelis"></div>
        </div> !-->



      </div>

      <div class="row">
        
        <div *ngFor="let i of numinrow; let index=index;">
          <div *ngIf="game.field1.trapfield[index]; then thenBlock else elseBlock;"></div>
          <ng-template #thenBlock>
            <div class="col2-lg border langelis">
              
              <app-card  [player] ='game.player1.id' [i] = "index" [playerId] = 'playerId' [card]="game.field1.trapfield[index]"></app-card>

            </div>
            </ng-template>
          <ng-template #elseBlock> <div class="col2-lg border langelis"></div> </ng-template>
        </div>
      </div>

      <div class="row">

        <div *ngFor="let i of numinrow; let index=index;">
          <div *ngIf="game.field1.monsterfield[index]; then thenBlock else elseBlock;"></div>
          <ng-template #thenBlock>
            <div class="col2-lg border langelis">
              
              <app-card  [player] ='game.player1.id' [i] = "index" [playerId] = 'playerId' [card]="game.field1.monsterfield[index]"></app-card>

            </div>
            </ng-template>
          <ng-template #elseBlock> <div class="col2-lg border langelis"></div> </ng-template>
        </div>
        
      </div>
    </div>
    <div class="player2Border">
      <div class="row">
        
        <div *ngFor="let i of numinrow; let index=index;">
          <div *ngIf="game.field2.monsterfield[index]; then thenBlock else elseBlock;"></div>
          <ng-template #thenBlock>
            <div class="col2-lg border langelis">
              
              <app-card [player] ='game.player2.id' [i] = "index" [field] ='hand' [playerId] = 'playerId' [card]="game.field2.monsterfield[index]"></app-card>

            </div>
            </ng-template>
          <ng-template #elseBlock> <div class="col2-lg border langelis"></div> </ng-template>
        </div>

      </div>
      <div class="row">
        
        <div *ngFor="let i of numinrow; let index=index;">
          <div *ngIf="game.field2.trapfield[index]; then thenBlock else elseBlock;"></div>
          <ng-template #thenBlock>
            <div class="col2-lg border langelis">
              
              <app-card [player] ='game.player2.id' [i] = "index" [field] ='hand' [playerId] = 'playerId' [card]="game.field2.trapfield[index]"></app-card>

            </div>
            </ng-template>
          <ng-template #elseBlock> <div class="col2-lg border langelis"></div> </ng-template>
        </div>

      </div>
      <div class="row">
        
        <div *ngFor="let i of numinrow; let index=index;">
          <div *ngIf="game.field2.handfield[index]; then thenBlock else elseBlock;"></div>
          <ng-template #thenBlock>
            <div class="col2-lg border langelis">
              
              <app-card [field] = 'hand' [player] ='game.player2.id' [i] = "index" [field] ='hand' [playerId] = 'playerId' [card]="game.field2.handfield[index]"></app-card>

            </div>
            </ng-template>
          <ng-template #elseBlock> <div class="col2-lg border langelis"></div> </ng-template>
        </div>

      </div>
    </div>
  </div>
</div>