<div *ngIf="card">
    <b>
        {{card.name}}
    </b>
</div>
<div *ngIf="card">
    <img src={{card.img}} alt={{card.name}} class="center">
</div>
<div *ngIf="card">
    <div *ngIf="card.attack > 0">
        Attack: {{card.attack}}
    </div>
</div>
<div *ngIf="card">
    <div *ngIf="card.attack > 0">
        Defense: {{card.defense}}
    </div>
    
</div>
<div *ngIf="card && playerId && playerId == card.playerId">
    <button (click)="PlayCard()">Play</button>
</div>
<!--
<div *ngIf="card && playerId && playerId == card.playerId ">
    <button (click)="onAttack()">Attack</button>
</div>
-->
<!--
<div *ngIf="card && playerId && playerId != card.playerId && playerId != null && playerId != 0">
    <button (click)='Target()'>Target</button>
</div>
-->