<div *ngIf="card">
    <b>
        {{card.name}}
    </b>
</div>
<div *ngIf="card">
    <img src={{card.img}} alt={{card.name}} class="center">
</div>
<div *ngIf="card">
    <div *ngIf="card.attack > 0">
        Attack: {{card.attack}}
    </div>
</div>
<div *ngIf="card">
    <div *ngIf="card.attack > 0">
        Defense: {{card.defense}}
    </div>

</div>
<div *ngIf="card && playerId && playerId == card.playerId && field =='hand' && 
        (turnPhase.phase == 1 || turnPhase.phase == 3) && loggedPlayerId == player">
    <button (click)="PlayCard()">Play</button>
</div>
<div *ngIf="card && playerId && playerId == card.playerId && field =='monster' && 
        turnPhase.phase == 2  && loggedPlayerId == player && card.attacked === false && turnPhase.attackPhase == 2">
    <button (click)="Attack()">Attack</button>
</div>
<div *ngIf="card && playerId && playerId == card.playerId && field =='monster' && 
        turnPhase.phase == 2  && loggedPlayerId != player && turnPhase.attackPhase == 3">
    <button (click)="Target()">Target</button>
</div>